#
# Copyright (c) 2015-2016 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#
# Setup Templates are a construction of a jinja2 template and yaml.
# Data is applied to the jinja2 template to create a yaml file representing
# the setup configuration.
#
resource: &small_flavor
  id:                   {{ uuid4() }}
  type:                 flavor
  name:                 small
  vcpus:                1
  ram_mb:               64
  disk_gb:              1
  ephemeral_gb:         0
  swap_mb:              0

resource: &small-guest_flavor
  id:                   {{ uuid4() }}
  type:                 flavor
  name:                 small-guest
  vcpus:                1
  ram_mb:               64
  disk_gb:              1
  ephemeral_gb:         0
  swap_mb:              0
  extra_specs:
    - key:              sw:wrs:guest:heartbeat
      value:            True

resource: &small_ephemeral_flavor
  id:                   {{ uuid4() }}
  type:                 flavor
  name:                 small_ephemeral
  vcpus:                1
  ram_mb:               64
  disk_gb:              1
  ephemeral_gb:         1
  swap_mb:              0

resource: &small_swap_flavor
  id:                   {{ uuid4() }}
  type:                 flavor
  name:                 small_swap
  vcpus:                1
  ram_mb:               64
  disk_gb:              1
  ephemeral_gb:         0
  swap_mb:              1

resource: &small_ephemeral_swap_flavor
  id:                   {{ uuid4() }}
  type:                 flavor
  name:                 small_ephemeral_swap
  vcpus:                1
  ram_mb:               64
  disk_gb:              1
  ephemeral_gb:         1
  swap_mb:              1

resource: &medium_flavor
  id:                   {{ uuid4() }}
  type:                 flavor
  name:                 medium
  vcpus:                2
  ram_mb:               128
  disk_gb:              1
  ephemeral_gb:         0
  swap_mb:              0

resource: &medium-guest_flavor
  id:                   {{ uuid4() }}
  type:                 flavor
  name:                 medium-guest
  vcpus:                2
  ram_mb:               128
  disk_gb:              1
  ephemeral_gb:         0
  swap_mb:              0
  extra_specs:
    - key:              sw:wrs:guest:heartbeat
      value:            True

resource: &medium_ephemeral_flavor
  id:                   {{ uuid4() }}
  type:                 flavor
  name:                 medium_ephemeral
  vcpus:                2
  ram_mb:               128
  disk_gb:              1
  ephemeral_gb:         1
  swap_mb:              0

resource: &medium_swap_flavor
  id:                   {{ uuid4() }}
  type:                 flavor
  name:                 medium_swap
  vcpus:                2
  ram_mb:               128
  disk_gb:              1
  ephemeral_gb:         0
  swap_mb:              1

resource: &medium_ephemeral_swap_flavor
  id:                   {{ uuid4() }}
  type:                 flavor
  name:                 medium_ephemeral_swap
  vcpus:                2
  ram_mb:               128
  disk_gb:              1
  ephemeral_gb:         1
  swap_mb:              1

resource: &cirros_image
  type:                 image
  name:                 cirros
  description:          ""
  container_format:     bare
  disk_format:          qcow2
  min_disk_size_gb:     0
  min_memory_size_mb:   0
  visibility:           public
  protected:            no
  properties:           []
  file:                 cirros.img

resource: &cirros-guest_image
  type:                 image
  name:                 cirros-guest
  description:          ""
  container_format:     bare
  disk_format:          qcow2
  min_disk_size_gb:     0
  min_memory_size_mb:   0
  visibility:           public
  protected:            no
  properties:           []
  file:                 cirros-guest.img

resource: &cirros_volume
  type:                 volume
  name:                 cirros
  description:          ""
  size_gb:              1
  image_name:           cirros
  bootable:             yes

resource: &cirros-guest_volume
  type:                 volume
  name:                 cirros-guest
  description:          ""
  size_gb:              1
  image_name:           cirros-guest
  bootable:             yes

resource: &cirros_ephemeral_volume
  type:                 volume
  name:                 cirros-ephemeral
  description:          ""
  size_gb:              1
  image_name:           cirros
  bootable:             yes

resource: &cirros_swap_volume
  type:                 volume
  name:                 cirros-swap
  description:          ""
  size_gb:              1
  image_name:           cirros
  bootable:             yes

resource: &cirros_ephemeral_swap_volume
  type:                 volume
  name:                 cirros-ephemeral-swap
  description:          ""
  size_gb:              1
  image_name:           cirros
  bootable:             yes

resource: &empty_attachable_volume
  type:                 volume
  name:                 empty_volume
  description:          ""
  size_gb:              1
  image_name:
  bootable:             no

resource: &internal_network
  type:                 network
  name:                 internal
  network_type:         vlan
  segmentation_id:      400
  physical_network:     physnet0
  shared:               yes

resource: &external_network
  type:                 network
  name:                 external
  network_type:         vlan
  segmentation_id:      500
  physical_network:     physnet1
  shared:               yes

resource: &internal_subnet
  type:                 subnet
  name:                 internal
  network_name:         internal
  ip_version:           4
  cidr:                 192.168.50.0/24
  gateway_ip:
  dhcp_enabled:         yes

resource: &external_subnet
  type:                 subnet
  name:                 external
  network_name:         external
  ip_version:           4
  cidr:                 192.168.51.0/24
  gateway_ip:
  dhcp_enabled:         yes

resource: &cirros-1_instance
  type:                 instance
  name:                 cirros-1
  flavor:               small
  image:
  block_devices:
    - type:             volume
      volume_name:      cirros
      device_name:      /dev/vda
      source_type:      volume
      destination_type: volume
      boot_index:       0
  attached_volumes:     []
  networks:             [internal]

resource: &cirros-guest-1_instance
  type:                 instance
  name:                 cirros-guest-1
  flavor:               small-guest
  image:
  block_devices:
    - type:             volume
      volume_name:      cirros-guest
      device_name:      /dev/vda
      source_type:      volume
      destination_type: volume
      boot_index:       0
  attached_volumes:     []
  networks:             [internal]

resource: &cirros-ephemeral-1_instance
  type:                 instance
  name:                 cirros-ephemeral-1
  flavor:               small_ephemeral
  image:
  block_devices:
    - type:             volume
      volume_name:      cirros-ephemeral
      device_name:      /dev/vda
      source_type:      volume
      destination_type: volume
      boot_index:       0
  attached_volumes:     []
  networks:             [internal]

resource: &cirros-swap-1_instance
  type:                 instance
  name:                 cirros-swap-1
  flavor:               small_swap
  image:
  block_devices:
    - type:             volume
      volume_name:      cirros-swap
      device_name:      /dev/vda
      source_type:      volume
      destination_type: volume
      boot_index:       0
  attached_volumes:     []
  networks:             [internal]

resource: &cirros-ephemeral-swap-1_instance
  type:                 instance
  name:                 cirros-ephemeral-swap-1
  flavor:               small_ephemeral_swap
  image:
  block_devices:
    - type:             volume
      volume_name:      cirros-ephemeral-swap
      device_name:      /dev/vda
      source_type:      volume
      destination_type: volume
      boot_index:       0
  attached_volumes:     []
  networks:             [internal]

resource: &cirros-image-1_instance
  type:                 instance
  name:                 cirros-image-1
  flavor:               small
  image:                cirros
  block_devices:        []
  attached_volumes:     []
  networks:             [internal]

resource: &cirros-guest-image-1_instance
  type:                 instance
  name:                 cirros-guest-image-1
  flavor:               small-guest
  image:                cirros-guest
  block_devices:        []
  attached_volumes:     []
  networks:             [internal]

resource: &cirros-image-with-volumes-1_instance
  type:                 instance
  name:                 cirros-image-with-volumes-1
  flavor:               small
  image:                cirros
  block_devices:        []
  attached_volumes:
    - volume_name:      empty_volume
      device_name:      /dev/vdb
  networks:             [internal]