#
# Copyright (c) 2015-2016 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#
# Setup Templates are a construction of a jinja2 template and yaml.
# Data is applied to the jinja2 template to create a yaml file representing
# the setup configuration.
#
{% include "default-setup.template" %}

resources:
  - <<: *small_flavor
  - <<: *small_ephemeral_flavor
  - <<: *small_swap_flavor
  - <<: *small_ephemeral_swap_flavor

  - <<: *medium_flavor
  - <<: *medium_ephemeral_flavor
  - <<: *medium_swap_flavor
  - <<: *medium_ephemeral_swap_flavor

  - <<: *cirros_image

  - <<: *cirros_volume
  - <<: *cirros_ephemeral_volume
  - <<: *cirros_swap_volume
  - <<: *cirros_ephemeral_swap_volume
  - <<: *empty_attachable_volume

  - <<: *internal_network
  - <<: *external_network

  - <<: *internal_subnet
  - <<: *external_subnet

  - <<: *cirros-1_instance
  - <<: *cirros-ephemeral-1_instance
  - <<: *cirros-swap-1_instance
  - <<: *cirros-ephemeral-swap-1_instance
  - <<: *cirros-image-1_instance
  - <<: *cirros-image-with-volumes-1_instance