#
# Copyright (c) 2015-2016 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#
# Test Templates are a construction of a jinja2 template and yaml.
# Data is applied to the jinja2 template to create a yaml file representing
# the test configuration.
#
test: &test_pause_instance
  name:       Pause Instance
  type:       pause_instance
  entity:     {{ default.pause_instance | default('cirros-1') }}
  guest_hb:   {{ default.guest_hb | default('no') }}
  repetition: 1
  timeout:    300

test: &test_unpause_instance
  name:       Unpause Instance
  type:       unpause_instance
  entity:     {{ default.unpause_instance | default('cirros-1') }}
  guest_hb:   {{ default.guest_hb | default('no') }}
  repetition: 1
  timeout:    300

test: &test_suspend_instance
  name:       Suspend Instance
  type:       suspend_instance
  entity:     {{ default.suspend_instance | default('cirros-1') }}
  guest_hb:   {{ default.guest_hb | default('no') }}
  repetition: 1
  timeout:    300

test: &test_resume_instance
  name:       Resume Instance
  type:       resume_instance
  entity:     {{ default.resume_instance | default('cirros-1') }}
  guest_hb:   {{ default.guest_hb | default('no') }}
  repetition: 1
  timeout:    300

test: &test_reboot_instance
  name:       Reboot Instance
  type:       reboot_instance
  entity:     {{ default.reboot_instance | default('cirros-1') }}
  hard_reset: no
  guest_hb:   {{ default.guest_hb | default('no') }}
  repetition: 1
  timeout:    600

test: &test_stop_instance
  name:       Stop Instance
  type:       stop_instance
  entity:     {{ default.stop_instance | default('cirros-1') }}
  guest_hb:   {{ default.guest_hb | default('no') }}
  repetition: 1
  timeout:    600

test: &test_start_instance
  name:       Start Instance
  type:       start_instance
  entity:     {{ default.start_instance | default('cirros-1') }}
  guest_hb:   {{ default.guest_hb | default('no') }}
  repetition: 1
  timeout:    600

test: &test_live_migrate_instance
  name:       Live-Migrate Instance
  type:       live_migrate_instance
  entity:     {{ default.live_migrate_instance | default('cirros-1') }}
  guest_hb:   {{ default.guest_hb | default('no') }}
  repetition: 1
  timeout:    600

test: &test_cold_migrate_instance
  name:       Cold-Migrate Instance
  type:       cold_migrate_instance
  entity:     {{ default.cold_migrate_instance | default('cirros-1') }}
  guest_hb:   {{ default.guest_hb | default('no') }}
  repetition: 1
  timeout:    600

test: &test_cold_migrate_confirm_instance
  name:       Cold-Migrate Confirm Instance
  type:       cold_migrate_confirm_instance
  entity:     {{ default.cold_migrate_confirm_instance | default('cirros-1') }}
  guest_hb:   {{ default.guest_hb | default('no') }}
  repetition: 1
  timeout:    600

test: &test_cold_migrate_revert_instance
  name:       Cold-Migrate Revert Instance
  type:       cold_migrate_revert_instance
  entity:     {{ default.cold_migrate_revert_instance | default('cirros-1') }}
  guest_hb:   {{ default.guest_hb | default('no') }}
  repetition: 1
  timeout:    600

test: &test_resize_instance
  name:       Resize Instance
  type:       resize_instance
  entity:     {{ default.resize_instance | default('cirros-1') }}
  flavors:    {{ default.resize_flavors | default('[small, medium]') }}
  guest_hb:   {{ default.guest_hb | default('no') }}
  repetition: 1
  timeout:    600

test: &test_resize_confirm_instance
  name:       Resize Confirm Instance
  type:       resize_confirm_instance
  entity:     {{ default.resize_confirm_instance | default('cirros-1') }}
  flavors:    {{ default.resize_confirm_flavors | default('[small, medium]') }}
  guest_hb:   {{ default.guest_hb | default('no') }}
  repetition: 1
  timeout:    600

test: &test_resize_revert_instance
  name:       Resize Revert Instance
  type:       resize_revert_instance
  entity:     {{ default.resize_revert_instance | default('cirros-1') }}
  flavors:    {{ default.resize_revert_flavors | default('[small, medium]') }}
  guest_hb:   {{ default.guest_hb | default('no') }}
  repetition: 1
  timeout:    600

test: &test_rebuild_instance
  name:       Rebuild Instance
  type:       rebuild_instance
  entity:     {{ default.rebuild_instance | default('cirros-1') }}
  guest_hb:   {{ default.guest_hb | default('no') }}
  repetition: 1
  timeout:    900

test: &test_lock_host
  name:       Lock Host
  type:       lock_host
  entity:     {{ default.lock_host | default('compute-0') }}
  instances:  {{ default.lock_instances | default('[cirros-1]') }}
  guest_hb:   {{ default.guest_hb | default('no') }}
  repetition: 1
  timeout:    900

test: &test_unlock_host
  name:       Unlock Host
  type:       unlock_host
  entity:     {{ default.unlock_host | default('compute-0') }}
  guest_hb:   {{ default.guest_hb | default('no') }}
  repetition: 1
  timeout:    900
