[Unit]
Description=Titanium Cloud Host Guest Messaging Agent
After=config.service
Before=pmon.service

[Service]
Type=forking
ExecStart=/etc/init.d/host_agent start
ExecStop=/etc/init.d/host_agent stop
PIDFile=/var/run/host_agent.pid

[Install]
WantedBy=multi-user.target
