[Unit]
Description=Nova Computer API Proxy
After=syslog.target network.target
Before=openstack-nova-conductor.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/nova-api-proxy --config-file=/etc/proxy/nova-api-proxy.conf

[Install]
WantedBy=multi-user.target
